html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: odin-font;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

body{

    display: flex;

    font-size: 16px;

    height: 110vh;

}

.odin{

    position:absolute;

    background-color: rgba(0, 0, 0, 0.6);

    color: white;

    top: 20%;

    display: flex;

    justify-content: center;

    align-items: center;

    width: max(40vw,400px);

    height: max(20vh,100px);
}

.odin img{

    height: max(15vh, 75px);

    width: auto;

}

.odin span{

    font-size: max(10vh, 50px);

    font-family: odin-font, sans-serif;

}

.img-copyright{

    position: absolute;

    color: white;

    bottom: -10vh;

    left: 14vw;

}

img[alt="Plant"]{

    height: max(100%,1000px);

    width: max(40vw,400px);

}

.container{

    display: flex;

    flex-direction: column;

}

.container > div > span{

    margin-left: 50px;

    margin-right: 50px;

}

.text{

    height: max(calc(40vh + 1em), 300px);

    display: flex;

    flex-direction: column;

    font-size: 1.7em;

    font-weight: bold;

    font-family: sans-serif;

    justify-content: center;

    gap: 2rem;

    background-color: rgb(247, 246, 246);

}

.text > span{

    width: max(70%, 400px);

}

.forms{

    height: max(calc(30vh + 1em),300px);

    box-shadow: 3px 3px 3px rgb(0, 0, 0);

    font-family: sans-serif;

}

.container{

    width: 100%;

    height: 100%;
}

h1{

    margin-left: 50px;

    margin-top: 20px;

    font-size: 1.7em;

    font-weight: bold;

}

fieldset{

    margin: 50px;

    margin-bottom: 3vh;

}

input{

    margin-bottom: 20px;

    margin-right: 20px;

    font-family: sans-serif;

    font-size: 0.8em;

    width: max(13vw, 150px);

    height: max(2.4vh, 1em);

    padding-left: 0.5em;

    border-radius: 5px;

    border: solid 1px #E5E7EB;

}

input:focus{

    border: solid 1px rgb(0, 119, 255);

    outline: none;

    box-shadow: 2px 2px 3px rgb(68, 67, 67);

}

legend{

    font-size: 0.8em;

}
.confirm{

    height: max(calc(40vh + 1em), 300px);

    background-color: rgb(247, 246, 246);

    display: flex;

    flex-direction: column;

}

button{

    margin: 50px;

    height: max(5vh, 50px);

    width: max(12vw, 150px);

    border-radius: 12px;

    background-color: #596D48;

    border-style: none;

    color: white;

    font-size: 1.3em;

    font-family: sans-serif;

    font-weight: bold;

}

.confirm > span{

    font-size: 1.3em;

}

.confirm > a{

    color: #596D48;

}

fieldset{

    display: flex;

    flex-direction: column;

    flex-wrap: wrap;

    height: 190px;

    width: max(40vw, 200px);

}